@import url(https://fonts.googleapis.com/css?family=Marck+Script:regular);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Marck Script", cursive;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #4e5165;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #fb9825;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, p {
  margin: 0 !important;
  padding: 0 !important;
}

.absolute {
  position: absolute;
}

nav {
  position: fixed;
  z-index: 101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 40px 80px;
}

@media screen and (max-width: 500px) {
  nav {
    padding: 10px 25px;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  nav {
    padding: 20px 25px;
  }
}

nav h2 {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #4e5165;
}

nav .toggleMenu {
  display: none;
  font-size: 2rem;
  color: #4e5165;
  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 500px) {
  nav .toggleMenu {
    display: block;
  }
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 300px) and (max-width: 500px) {
  nav .menu {
    width: 100%;
    opacity: 0;
    height: 0px;
    background: #fff;
    position: absolute;
    top: 50px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.12);
            box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.12);
  }
  nav .menu.active {
    height: 500px;
    opacity: 1;
  }
}

nav .menu li {
  list-style: none;
  margin-right: 3.5rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 500px) and (max-width: 950px) {
  nav .menu li {
    margin: 0 20px;
  }
}

nav .menu li a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .menu li a.active {
  color: #fb982f;
  font-size: 24px;
  font-weight: 700;
}

nav .menu li:last-child a {
  background: #fb982f;
  padding: 10px 20px;
  border-radius: 50px;
  -webkit-filter: drop-shadow(0px 0px 20px #fb9825);
          filter: drop-shadow(0px 0px 20px #fb9825);
}

nav .menu li:last-child a.active {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

nav .menu li:hover a {
  color: #fb982f;
}

nav .menu li:hover:last-child a {
  color: #fff;
  padding: 10px 30px;
}

main {
  position: absolute;
  width: 100%;
  height: auto;
  background: linear-gradient(310deg, rgba(128, 128, 128, 0.05) 0%, rgba(255, 255, 255, 0.6) 100%);
  top: 0;
  left: 0;
  z-index: 1;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

section.home {
  padding: 100px 50px 60px 50px;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home {
    padding: 25px;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.home {
    padding: 25px;
  }
}

section.home .circlesLayer {
  z-index: -1;
}

section.home .circlesLayer .circle {
  border-radius: 50%;
  opacity: 0.25;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  position: absolute;
}

section.home .circlesLayer .circle.circle1 {
  width: 450px;
  height: 450px;
  background: #1100ff;
  top: 10%;
  left: -10%;
}

section.home .circlesLayer .circle.circle2 {
  width: 250px;
  height: 250px;
  background: #00b9ff;
  top: -5%;
  right: 10%;
}

section.home .circlesLayer .circle.circle3 {
  width: 200px;
  height: 200px;
  background: #00b9ff;
  top: 30%;
  right: 30%;
}

section.home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container {
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.home .container {
    padding: 10px;
  }
}

section.home .container .textContainer {
  width: 50%;
  height: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container .textContainer {
    width: 100%;
    height: 50%;
    z-index: 25;
  }
}

section.home .container .textContainer h2 {
  margin: 20px 0;
  font-size: 3rem;
  color: #0b1b43;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container .textContainer h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.home .container .textContainer h2 {
    font-size: 2rem;
  }
}

section.home .container .textContainer h2:nth-child(2) {
  font-size: 5rem;
  color: #fca720;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container .textContainer h2:nth-child(2) {
    font-size: 2.5rem;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.home .container .textContainer h2:nth-child(2) {
    font-size: 3.5rem;
  }
}

section.home .container .textContainer p {
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #858894;
  letter-spacing: 1px;
  margin-bottom: 40px !important;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container .textContainer p {
    text-align: center;
  }
}

section.home .container .textContainer a {
  background: #fb982f;
  padding: 10px 25px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 20px #fb9825;
          box-shadow: 0px 0px 20px #fb9825;
  color: #fff;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section.home .container .textContainer a:hover {
  padding: 10px 60px;
}

section.home .container .imageContainer {
  width: 50%;
  position: relative;
  height: 100%;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container .imageContainer {
    width: 100%;
    height: 50%;
  }
}

section.home .container .imageContainer .image_bg_layer {
  width: 550px;
  right: 8%;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container .imageContainer .image_bg_layer {
    width: 300px;
    top: 10%;
    right: 10%;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.home .container .imageContainer .image_bg_layer {
    width: 400px;
    top: 10%;
  }
}

section.home .container .imageContainer .profile_img {
  width: 400px;
  right: 20%;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container .imageContainer .profile_img {
    width: 250px;
    top: 10%;
    right: 15%;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.home .container .imageContainer .profile_img {
    width: 350px;
    right: 10%;
    top: 10%;
  }
}

section.home .container .imageContainer .profile_smiley {
  width: 80px;
  left: 15%;
  top: 5%;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container .imageContainer .profile_smiley {
    left: 0%;
    top: 20%;
    width: 50px;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.home .container .imageContainer .profile_smiley {
    left: 0;
    top: 10%;
  }
}

section.home .container .imageContainer .start1 {
  width: 100px;
  right: 7%;
  -webkit-filter: drop-shadow(0px 0px 10px #16a933);
          filter: drop-shadow(0px 0px 10px #16a933);
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container .imageContainer .start1 {
    width: 80px;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.home .container .imageContainer .start1 {
    width: 90px;
    top: 5%;
  }
}

section.home .container .imageContainer .start2 {
  width: 70px;
  right: 15%;
  bottom: 5%;
  -webkit-filter: drop-shadow(0px 0px 10px #0da1ba);
          filter: drop-shadow(0px 0px 10px #0da1ba);
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container .imageContainer .start2 {
    bottom: 0%;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.home .container .imageContainer .start2 {
    bottom: 25%;
  }
}

section.home .container .imageContainer .start3 {
  width: 50px;
  bottom: 30%;
  left: 20%;
  -webkit-filter: drop-shadow(0px 0px 10px #0da1ba);
          filter: drop-shadow(0px 0px 10px #0da1ba);
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container .imageContainer .start3 {
    bottom: 25%;
    left: 5%;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.home .container .imageContainer .start3 {
    bottom: 45%;
    left: 5%;
  }
}

section.home .container .imageContainer .box {
  width: 200px;
  height: 80px;
  border-radius: 20px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container .imageContainer .box {
    width: 150px;
    height: 55px;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.home .container .imageContainer .box {
    width: 180px;
    height: 60px;
  }
}

section.home .container .imageContainer .box .image_container {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.home .container .imageContainer .box .image_container .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fef4de;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.home .container .imageContainer .box .image_container .circle img {
  width: 40px;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container .imageContainer .box .image_container .circle img {
    width: 30px;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.home .container .imageContainer .box .image_container .circle img {
    width: 35px;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container .imageContainer .box .image_container .circle {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.home .container .imageContainer .box .image_container .circle {
    width: 50px;
    height: 50px;
  }
}

section.home .container .imageContainer .box .text_container {
  height: 100%;
  margin-left: 5px;
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.home .container .imageContainer .box .text_container h2 {
  font-size: 16px;
  font-weight: bold;
}

section.home .container .imageContainer .box .text_container p {
  font-size: 12px;
  font-family: cursive;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container .imageContainer .box .text_container p {
    font-size: 8px;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.home .container .imageContainer .box .text_container p {
    font-size: 10px;
  }
}

section.home .container .imageContainer .box.ui_box {
  right: 0%;
  top: 30%;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container .imageContainer .box.ui_box {
    right: -4%;
    top: 40%;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.home .container .imageContainer .box.ui_box {
    right: -5%;
    top: 25%;
  }
}

section.home .container .imageContainer .box.awards_box {
  bottom: 15%;
  right: 55%;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.home .container .imageContainer .box.awards_box {
    bottom: 5%;
    left: -4%;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.home .container .imageContainer .box.awards_box {
    bottom: 25%;
    right: 60%;
  }
}

section.services {
  padding: 100px 50px 60px 50px;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.services {
    padding: 25px;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.services {
    padding: 25px;
  }
}

section.services .circlesLayer {
  z-index: -1;
}

section.services .circlesLayer .circle {
  border-radius: 50%;
  opacity: 0.25;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  position: absolute;
}

section.services .circlesLayer .circle.circle1 {
  width: 500px;
  height: 500px;
  background: #00e5ff;
  top: 10%;
  left: -12%;
}

section.services .circlesLayer .circle.circle2 {
  width: 500px;
  height: 500px;
  background: #1100ff;
  top: 5%;
  right: -17%;
}

section.services .circlesLayer .circle.circle3 {
  width: 300px;
  height: 300px;
  background: #1100ff;
  bottom: 0;
  right: 5%;
}

section.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.services .container {
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.services .container {
    padding: 15px;
  }
}

section.services .container .leftContainer {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.services .container .leftContainer {
    width: 100%;
    height: 50%;
    z-index: 25;
    padding-top: 30px;
  }
}

section.services .container .leftContainer h2 {
  margin: 20px 0;
  font-size: 3rem;
  color: #0b1b43;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.services .container .leftContainer h2 {
    font-size: 1.25rem;
    text-align: left;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.services .container .leftContainer h2 {
    font-size: 2rem;
  }
}

section.services .container .leftContainer h2:nth-child(2) {
  font-size: 4.5rem;
  color: #fca720;
  text-align: right;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.services .container .leftContainer h2:nth-child(2) {
    font-size: 3rem;
    text-align: left;
  }
}

section.services .container .leftContainer p {
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #858894;
  letter-spacing: 1px;
  margin-bottom: 40px !important;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.services .container .leftContainer p {
    text-align: center;
    font-size: 16px;
  }
}

section.services .container .leftContainer a {
  background: #fb982f;
  padding: 10px 25px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 20px #fb9825;
          box-shadow: 0px 0px 20px #fb9825;
  color: #fff;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section.services .container .leftContainer a:hover {
  padding: 10px 60px;
}

section.services .container .rightContainer {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 1;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.services .container .rightContainer {
    width: 100%;
    height: 50%;
  }
}

section.services .container .rightContainer .box {
  position: absolute;
  background: linear-gradient(300deg, rgba(128, 128, 128, 0.05) 0%, rgba(255, 255, 255, 0.4) 100%);
  width: 280px;
  height: 275px;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0 0 20px #858894);
          filter: drop-shadow(0 0 20px #858894);
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.services .container .rightContainer .box {
    width: 175px;
    height: 225px;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.services .container .rightContainer .box {
    width: 190px;
    height: 250px;
  }
}

section.services .container .rightContainer .box img {
  width: 50px;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.services .container .rightContainer .box img {
    width: 40px;
  }
}

section.services .container .rightContainer .box p {
  text-align: center;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.services .container .rightContainer .box p {
    font-size: 14px;
  }
}

section.services .container .rightContainer .box a {
  padding: 5px 25px;
  background: #fff;
  border-radius: 5px;
  color: #1889e2;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section.services .container .rightContainer .box a:hover {
  color: #05538f;
  font-weight: bold;
}

section.services .container .rightContainer .box.box1 {
  top: 0;
  right: 25%;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.services .container .rightContainer .box.box1 {
    top: -5%;
    right: -3%;
    z-index: 3;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.services .container .rightContainer .box.box1 {
    right: 40%;
  }
}

section.services .container .rightContainer .box.box2 {
  bottom: -10%;
  right: 0;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.services .container .rightContainer .box.box2 {
    top: 70%;
    right: -5%;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.services .container .rightContainer .box.box2 {
    bottom: 14%;
  }
}

section.services .container .rightContainer .box.box3 {
  left: 0;
  bottom: -10%;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.services .container .rightContainer .box.box3 {
    left: -5%;
    bottom: 0;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.services .container .rightContainer .box.box3 {
    bottom: 12%;
  }
}

section.works {
  padding: 100px 50px 60px 50px;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.works {
    padding: 25px;
  }
}

section.works .circlesLayer {
  z-index: -1;
}

section.works .circlesLayer .circle {
  border-radius: 50%;
  opacity: 0.25;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  position: absolute;
}

section.works .circlesLayer .circle.circle1 {
  width: 500px;
  height: 500px;
  background: #00e5ff;
  top: 30%;
  left: -12%;
}

section.works .circlesLayer .circle.circle2 {
  width: 500px;
  height: 500px;
  background: #1100ff;
  top: 0%;
  right: -10%;
}

section.works .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.works .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.works .container {
    padding: 0px;
  }
}

section.works .container .textcontainer {
  height: 300px;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 1;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.works .container .textcontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section.works .container .textcontainer h2 {
  color: #0b1b43;
  font-size: 3rem;
  padding: 10px 0;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.works .container .textcontainer h2 {
    font-size: 24px;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.works .container .textcontainer h2 {
    font-size: 2rem;
  }
}

section.works .container .textcontainer h2 span {
  color: #fb9825;
}

section.works .container .textcontainer a {
  background: #fb982f;
  padding: 10px 25px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 20px #fb9825;
          box-shadow: 0px 0px 20px #fb9825;
  color: #fff;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section.works .container .textcontainer a:hover {
  padding: 10px 60px;
}

section.works .container .swiper {
  width: 350px;
  height: 500px;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.works .container .swiper {
    width: 250px;
    height: 400px;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.works .container .swiper {
    width: 250px;
    height: 400px;
  }
}

section.works .container .swiper-slide {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 18px;
}

section.works .container .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

section.works .container .swiper-slide span {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
}

section.works .container .swiper-slide img {
  display: block;
  width: 100%;
}

section.clients {
  padding: 100px 50px 60px 50px;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.clients {
    padding: 25px;
  }
}

section.clients .circlesLayer {
  z-index: -1;
}

section.clients .circlesLayer .circle {
  border-radius: 50%;
  opacity: 0.25;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  position: absolute;
}

section.clients .circlesLayer .circle.circle1 {
  width: 450px;
  height: 450px;
  background: #1100ff;
  top: 10%;
  left: -10%;
}

section.clients .circlesLayer .circle.circle2 {
  width: 250px;
  height: 250px;
  background: #00b9ff;
  top: -5%;
  right: 10%;
}

section.clients .circlesLayer .circle.circle3 {
  width: 200px;
  height: 200px;
  background: #00b9ff;
  top: 30%;
  right: 30%;
}

section.clients .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.clients .container {
    padding: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section.clients .container .textContainer {
  width: 50%;
  height: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.clients .container .textContainer {
    width: 100%;
    height: 50%;
    z-index: 25;
  }
}

section.clients .container .textContainer h2 {
  margin: 20px 0;
  font-size: 3rem;
  color: #0b1b43;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.clients .container .textContainer h2 {
    font-size: 2rem;
    text-align: right;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.clients .container .textContainer h2 {
    font-size: 2rem;
  }
}

section.clients .container .textContainer h2:nth-child(2) {
  font-size: 3rem;
  color: #fca720;
}

section.clients .container .textContainer p {
  font-size: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #858894;
  letter-spacing: 1px;
  margin-bottom: 40px !important;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.clients .container .textContainer p {
    text-align: center;
  }
}

section.clients .container .textContainer a {
  background: #fb982f;
  padding: 10px 25px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 20px #fb9825;
          box-shadow: 0px 0px 20px #fb9825;
  color: #fff;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section.clients .container .textContainer a:hover {
  padding: 10px 60px;
}

section.clients .container .imageContainer {
  width: 50%;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.clients .container .imageContainer {
    width: 100%;
    height: 50%;
  }
}

section.clients .container .imageContainer img {
  width: 80%;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.clients .container .imageContainer img {
    width: 60%;
  }
}

section.projects {
  padding: 100px 50px 60px 50px;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.projects {
    padding: 10px;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.projects {
    padding: 25px;
  }
}

section.projects .circlesLayer {
  z-index: -1;
}

section.projects .circlesLayer .circle {
  border-radius: 50%;
  opacity: 0.25;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  position: absolute;
}

section.projects .circlesLayer .circle.circle1 {
  width: 500px;
  height: 500px;
  background: #00e5ff;
  top: 30%;
  left: -12%;
}

section.projects .circlesLayer .circle.circle2 {
  width: 500px;
  height: 500px;
  background: #1100ff;
  top: 0%;
  right: -10%;
}

section.projects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.projects .container {
    padding: 0;
  }
}

section.projects .container h2 {
  font-size: 3rem;
  color: #fb9825;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.projects .container h2 {
    font-size: 2rem;
  }
}

section.projects .container .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.projects .container .wrapper .imgBox {
  width: 350px;
  height: 200px;
  background: #fff;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.projects .container .wrapper .imgBox {
    width: 160px;
    height: 80px;
    margin: 15px 5px;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.projects .container .wrapper .imgBox {
    width: 220px;
    height: 150px;
    margin: 5px;
  }
}

section.projects .container .wrapper .imgBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

section.projects .container .wrapper .imgBox img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section.contactUs {
  padding: 100px 50px 60px 50px;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.contactUs {
    padding: 10px;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.contactUs {
    padding: 25px;
  }
}

section.contactUs .circlesLayer {
  z-index: -1;
}

section.contactUs .circlesLayer .circle {
  border-radius: 50%;
  opacity: 0.25;
  -webkit-filter: blur(80px);
          filter: blur(80px);
  position: absolute;
}

section.contactUs .circlesLayer .circle.circle1 {
  width: 450px;
  height: 450px;
  background: #1100ff;
  top: 10%;
  left: -10%;
}

section.contactUs .circlesLayer .circle.circle2 {
  width: 250px;
  height: 250px;
  background: #00b9ff;
  top: -5%;
  right: 10%;
}

section.contactUs .circlesLayer .circle.circle3 {
  width: 200px;
  height: 200px;
  background: #00b9ff;
  top: 30%;
  right: 30%;
}

section.contactUs .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.contactUs .container {
    padding: 10px;
  }
}

section.contactUs .container form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

section.contactUs .container form .alert {
  width: 100%;
  height: 50px;
  background: #2ecc71;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 1.5rem;
  display: none;
}

section.contactUs .container form .inputBox {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
}

@media (min-width: 300px) and (max-width: 500px) {
  section.contactUs .container form .inputBox {
    width: 100%;
  }
}

@media (min-width: 500px) and (max-width: 950px) {
  section.contactUs .container form .inputBox {
    width: 80%;
  }
}

section.contactUs .container form .inputBox input {
  padding: 10px;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  color: #0b1b43;
  background: linear-gradient(310deg, rgba(128, 128, 128, 0.05) 0%, rgba(255, 255, 255, 0.6) 100%);
}

section.contactUs .container form .inputBox input:focus {
  border: 1px solid rgba(251, 152, 47, 0.5);
}

section.contactUs .container form .inputBox textarea {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  color: #0b1b43;
  background: linear-gradient(310deg, rgba(128, 128, 128, 0.05) 0%, rgba(255, 255, 255, 0.6) 100%);
}

section.contactUs .container form .inputBox textarea:focus {
  border: 1px solid rgba(251, 152, 47, 0.5);
}

section.contactUs .container form .inputBox button {
  width: 80%;
  padding: 15px 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #4e5165;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section.contactUs .container form .inputBox button:hover {
  background: #fb982f;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

footer {
  width: 100%;
  height: 30vh;
  position: static;
  bottom: 0;
  background: rgba(78, 81, 101, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer h2 {
  font-size: 2.5rem;
  color: #0b1b43;
}

footer h2 span {
  color: #fff;
}

footer .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .socialMedia .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
}

footer .socialMedia .circle i {
  color: #0b1b43;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .socialMedia .circle:hover:nth-child(1) i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #3b5998;
}

footer .socialMedia .circle:hover:nth-child(2) i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #791f52, #e1306c, #fd1d1d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

footer .socialMedia .circle:hover:nth-child(3) i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #0e76a8;
}

footer .socialMedia .circle:hover:nth-child(4) i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #00acee;
}

footer .socialMedia .circle:hover:nth-child(5) i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #313131;
}
/*# sourceMappingURL=portfolio.css.map */